@import "./Keypad.scss";

.key-pad--cricket {
    button {
        width: 20%;
        &.button--modifier {
            width: 33.3%;
        }
        &.button--spacer {
            visibility: hidden;
        }
    }
    
}