@import "../variables.scss";

.game-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;

    .scoreboard {
        margin-top: $standardPadding * 2;
    }
    .key-pad {
        flex-grow: 1;
    }
    .message {
        text-align: center;
        margin-top: $standardPadding * 4;
        font-size: 1.5em;
    }
}