@import "../variables.scss";

.new-game__players {
    padding: $standardPadding * 2;
    border: 1px solid $primaryBorderColor;
    cursor: pointer;
}

.form-field.form-field--game-select {
    display: flex;
    margin: $standardPadding * 2 0;

    label {
        font-size: 16px;
        padding: $standardPadding;
    }

    select {
        font-size: 16px;
        padding: $standardPadding;
        flex-grow: 1;
    }
    
}