@import "../variables.scss";

.new-game__players {
    padding: $standardPadding * 2;
    border: 1px solid $primaryBorderColor;
    cursor: pointer;
}

.button--new-game {
    margin-top: $standardPadding * 2;
    min-width: 200px;
}