@import "../variables.scss";

.scoreboard {
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid $primaryBorderColor;
        &:first-child {
            border: none;
        }
        &:last-child {
            border: none;
        }
    }
    .player-name {
        text-align: left;
    }
    .field-score--narrow {
        width: 30px;
        text-align: right;
    }
    .field-score--cricket {
        width: 35px;
        text-align: center;
    }
    .field-score--total {
        width: 40px;
    }
    th {
        text-align: center;
    }
    td {
        padding: $standardPadding;
        text-align: right;
        height: 34px;
    }

    .player-indicator {
        width: 10px;
        i {
            display: none;
        }
    }

    .player--active {
        .player-indicator {
            i {
                display: block;
            }
        }
        .player-name {
            font-weight: bold;
        }
    }
    .player-name {
        text-align: left;
    }
}


.field--done {
    position: relative;
    width: 24px;
    height: 24px;
    i {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
    }
}