@import "./variables.scss";
@import "./mixins.scss";

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-body {
    padding: $standardPadding * 2;
    padding-top: 40px;
    flex-grow: 1;
}

.form-footer {
    background-color: green;
}

.form-field {
    display: flex;
    i {
        margin-right: $standardPadding * 2;
    }
    input {
        flex: 1;
        border: none;
        color: $darkFontColor;
        border-bottom:  1px solid $borderGrey;
        padding: $standardPadding;
    }
    input::placeholder {
        color: $lightFontColor;
    }
}
