@import "./variables.scss";
@import "./mixins.scss";

html {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: $primaryFontColor;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    color: $primaryFontColor;
    padding: $standardPadding * 2;
    a {
        @include menu-link($primaryFontColor);
    }
}

h1 {
    background-color: $primaryBackgroundColor;
    @include box-shadow(2);
    i {
        position: relative;
        padding-right: 1em;
    }
}

button {
    @include primary-button();
}

.link-button {
    a {
        display: block;
        padding: $standardPadding * 2;
        text-align: center;
        min-width: 150px;
        @include menu-link($primaryFontColor);
    }
}

.link-button--full-width {
    a {
        width: 100%;
    }
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
}

.site-list {
    list-style: none;
    background-color: $primaryBackgroundColor;
    margin: 0;
    padding: 0;
    li {
        color: $primaryFontColor;
        border-top: 1px solid $primaryBorderColor;
        padding: $standardPadding * 2;
    }
}

.form__body {
    padding: $standardPadding * 2;
}

.standard-field {
    label {
        display: block;
    }
    input {
        width: 100%;
    }
}

.form__commands {
    border-top: 1px solid $primaryBorderColor;
    padding: $standardPadding * 2;
    display: flex;
    a, button {
        display: block;
        text-align: center;
        flex: 1;
        max-width: 250px;
        margin: 0 auto;
    }
    a {
        @include menu-link($primaryFontColor);
    }
}