$standardPadding: 5px;


$darkGrey: #737373;
$lightGrey: #A7A7A7;
$borderGrey: #E9E8E8;

$blue500: #2196F3;
$indigo500: #3F51B5;

$primaryFontColor: #fff;
$primaryBackgroundColor: $indigo500;
$primaryBorderColor: #fff;